<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sign.deftpdf">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DeftApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeftPDF"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.login.LoginWebViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.date_text_pickers.TextActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.date_text_pickers.DateSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view_document.DocumentViewerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.draw.DrawActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.documents_screens.document.DocumentDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.request_signature.RequestSignatureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forgot.ForgotPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.registration.CreateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.check_auth.CheckAuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>